* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE HEADER */
.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    
}

/* sezione sinistra */
.left, .right {
    width: 30%;
   
    display: flex;
    justify-content: space-around;
}

.list-left, .list-right {
    width: 300px;
    display: flex;
    align-items: center;
    
}

.list-left  ul {
    list-style: none;
    display: flex; 
}

li a {
    text-decoration: none;
    padding: 10px;
}

/* sezione destra */

button {
    height: 40px;
}

.list-right ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}


/* regole jumbotron */

.jumbotron{
    height: 700px;
    
    position: relative;
}

.container-jumbo {
    width: 1000px;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    height: 200px;
}

.aside {
    width: 35%;
    height: 350px;
    
}

/* regole main */

/* section 1 */

section {
   
}

.container-section1{
   height: 1000px;
   width: 800px;
   margin: 80px auto;
   
   
}

.title-section1{
    max-width: 800px;
    height: 100px;
    
    margin-bottom: 20px;
}

.row1 {
    display: flex;
    max-width: calc(100/3);
    height: 880px;
}

.col{
    width: 100%;
    height: auto;
}

.row2 {
    height: 200px;
    width: auto;
    margin-top: 20px;
    
}

.row1, .row2, .col {
    border: 1px solid green;
}


/* section 2 */

.container-section2 {
    width: 800px;
   margin: 400px auto 100px;
   height: 450px;
   background-color: brown;
   
}

.img-section2 {
    height: 450px;
    width: 450px;
    border: 1px solid black;
    float: left;background-color: bisque;
}



/* section 3 */

.container-section3 {
    width: 800px;
    
    margin: 200px auto;
    
}

.row-section3:after {
content: "";
display: table;
clear: both;
}



.col-section3 {
   
    float: left;
    width: calc((100%/3));
    padding: 0; 
}



/* section 4 */

.container-section4{
    width: 800px;
    height: 200px;
    margin: 200px auto;
    
    
}

.text-section4 {
    width: 400px;
    height: 200px;
    

}
 

/* section 5 */

.container-section5{
    max-width: 100%;
    
    margin-top: 100px;
    margin-bottom: 0;
    
}

.container-section5:after {
    content: "";
    display: table;
    clear: both;
}

.col-section5 {
    float: left;
    width: calc((100%/3));
    height: 500px;
    
}

.mini-section {
    width: calc(100%/2);
    height: 250px;
    float: left;
}

.containerfoot-section5 {
    height: 250px;
    width: 100%;
    background-color: yellowgreen;
    margin-bottom: 100px;
    display: flex;
}

#foot-section5 {
    width: 800px;
    height: 200px;
    margin: auto;
    background-color: green;
}


/* section6 */

.container-section6 {
    width: 800px;
    height: 400px;
    margin: 100px auto;
    
}

.row-section6{
    height: calc(100%/4);
    width: auto;
    border-bottom: 2px solid black;
    
}


/* footer */

.container-footer {
    height: 500px;
    background-color: black;
    padding: 40px
    
}

#contain-foot {
    width: 1000px;
    height: 400px;
    margin: 10px auto;  
}

.col-foot {
    width: calc(100%/5);
    border: 1px solid red;
    float: left;
    margin-bottom: 150px;
    
}

hr {
    width: 100px;
    margin-bottom: 30px;
}


/* DEBUG */

.nav-head {
   
    background-color: green;
}

.logo {
    height: 40px;
    width: 100px;
    background-color: blue;
}

.list-left, .list-right{
    background-color: yellow;
}

.left, .right {
    background-color: white; 
}


.jumbotron{
    background-color: aqua;
}


.container-jumbo {
    background-color: blanchedalmond;
}

.title {
    background-color: blueviolet;
}

.aside {
    background-color: azure;
}



.container-section1 {
    background-color: grey;
}

.title-section1{
    background-color: beige;
}

.container-section3 {
    background-color: pink;
}

.row-section3 {
    border: solid 4px white;
}

.col-section3 {
    height: 250px;
    background-color: violet;
    border: solid 2px orange;

}

.container-section4 {
    background-color: blue;
}

.text-section4 {
    background-color: aqua;
}

.container-section5{
    background-color: aquamarine;
}

.col-section5 {
    background-color: violet;
    border: solid 1px orange;
}

.mini-section {
    background-color: beige;
    border: solid 1px red;
}

.container-section6 {
    background-color: rgb(231, 167, 84);
}

.row-section6 {
    background-color: rgb(255, 217, 0);
}

#contain-foot {
    background-color: rgb(43, 132, 209);
}