* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style-type: none;
    
     
}

i {
    clear: right;
}

button {
    background-color: #0061FF;
    padding: 5px 10px;
    border: 0;
}

/* REGOLE HEADER */
.nav-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: white;
}

#logo-img {
    margin: 5px 10px;
    height: 25px;
}


/* sezione sinistra */
.left, .right {
    width: 40%;
   
    display: flex;
    justify-content: space-around;
}


.list-left, .list-right {
    width: 500px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: red;
}

.list-right {
    margin-left: 110px;
}

.list-left  ul {
    list-style: none;
    display: flex;
    
}



li a {
    text-decoration: none;
    padding: 10px;
    
}



/* sezione destra */

#butt-nav {
   
    margin-right: 10px;
    
}

#butt-nav:hover {
    cursor: pointer;
}

.list-right ul {
    list-style: none;
    display: flex;
    
}


/* regole jumbotron */

.jumbotron{
    height: 650px;
    margin-top: 80px;
    position: relative;
    background-color: #B4D0E7;
   

}

.container-jumbo {
    width: 1000px;
    height: 550px;
    margin-top: 110px;
    position: absolute;
    
    left: 50%;
    transform: translate(-50%);
    
   
}

.title {
    height: 200px;
}

.title h1 {
    font-size:70px;
}

.aside {
    width: 35%;
    height: 330px;
    margin-top: 20px;
    position: relative;
}

#butt-jumbo {
    padding: 5px 10px;
    background-color: #0061FF;
    border: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

span > .aside {
    margin-top: 10px;
}

.fa-arrow-down-long {
    margin-bottom: 0;
    font-size: 30px;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 2px;
    left: 0;
    color: black;
    
}

.img-jumbo {
    
    width: 65%;
    height: 330px;
    float: right;
    position: absolute;
    top: 220px;
    left: 35%;
}

.img-jumbo img {
    height: 400px;
}


/* regole main */

/* section 1 */

section {
   
}

.container-section1{
   height: 1000px;
   width: 1000px;
   margin: 150px auto;
   
   
}

.title-section1{
    max-width: 1000px;
    height: 150px;
    
    margin-bottom: 20px;
}
.title-section1 h1 {
    font-size: 30px;
    margin-bottom: 50px;
    
}




.row1 {
    display: flex;
    max-width: calc(100/3);
    height: 880px;
}

.col{
    width: 100%;
    height: auto;
    
}



.content-col {
    padding: 20px;
    font-size: 15px;
}

.content-col span {
    display: block;
}

.title-col {
    text-align: center;
   
    border: 1px solid black;
    padding: 5px;
    
}


#list1col li {
    padding-bottom: 20px;
}

.butt-section1 button{
 padding: 10px 30px;
 
}

.butt-section1 {
    text-align: center;
}

.or {
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding: 20px 20px;
    width: 60px;
}



.row2 {
    height: 200px;
    width: auto;
    margin-top: 20px;
    
}

.row1, .row2, .col {
    border: 1px solid green;
}

.rowInrow2 {
    height: 80px;
    width: auto;
    border: 1px solid green;
}

#butt-row2 {
    float: right;
}


/* section 2 */

.container-section2 {
    width: 1000px;
   margin: 400px auto 100px;
   height: 500px;
   ;
   display: flex;
   
}

.img-section2 {
    height: 500px;
    
}

.img-section2 img {
    height: 500px;
    width: auto;
}

.containerText-section2 {
    padding: 40px;
    
    
}

#Text-section2 h2, #Text-section2 p, #Text-section2 button {
margin-bottom: 30px;
margin-right: 20px;
}

#Text-section2 button {
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

#Text-section2:hover button {
    cursor: pointer;
}

/* section 3 */

.container-section3 {
    width: 1000px;
    
    margin: 200px auto;
    
}

#title-section3 {
    margin-bottom: 30px;
    font-size: 20px;
}

.row-section3:after {
content: "";
display: table;
clear: both;
}

.row-section3 {
    margin-top: 40px;
}

.col-section3 {
    
    float: left;
    width: calc((100%/3));
    padding: 30px 50px 30px 0; 
}

.col-section3 img {
    height: 200px;
}

.col-section3 h3, .col-section3 img {
    margin-bottom: 20px;
}

.col-section3 p {
    font-size: 14px;
}


/* section 4 */

.container-section4{
    width: 1000px;
    height: 200px;
    margin: 200px auto;
    
    
}

.text-section4 {
    width: 400px;
    height: 200px;
}

.text-section4 h1 {
    margin-bottom: 60px;
}

.text-section4 a {
    font-size: 13px;
    color: blue;
}
 

/* section 5 */

.container-section5{
    max-width: 100%;
    margin-top: 100px;
    margin-bottom: 0;
}

.container-section5:after {
    content: "";
    display: table;
    clear: both;
}

.col-section5 {
    float: left;
    width: calc((100%/3));
    height: 500px;
    
}

.mini-section {
    width: calc(100%/2);
    height: 250px;
    float: left;
    position: relative;
    color: white;
}

.containerfoot-section5 {
    height: 250px;
    width: 100%;
    background-color: yellowgreen;
    margin-bottom: 100px;
    display: flex;
}

#foot-section5 {
    width: 1000px;
    height: 200px;
    margin: auto;
    background-color: green;
}

.mini-section img {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.container-sec-center {
    padding: 40px;
   
}

.centrale {
     background-color: #F5F5F5;
}

.container-sec-center img, .container-sec-center p {
    margin-bottom: 30px;
}

.container-sec-center p, .container-sec-center span {
    font-size: 13px;
}

.centrale img {
    height: 80px;
}

.uno {
    background-color: #A2D39B;
}

.uno img {
    height: 50px;
}

.due {
    background-color: #61082B;
}

.due img {
    height: 80px;
}

.tre {
    background-color: #0093CE;
}

.tre img {
    height: 20px;
}

.quattro {
    background-color: #FF1C1C;
}

.quattro img {
    height: 60px;
}

.cinque {
    background-color: #D5001F;
}

.cinque img {
    height: 50px;
}

.sei {
    background-color: #B4D0E7;
}

.sei img {
    height: 15px;
}

.sette {
    background-color:#0D2481;
}

.sette img {
    height: 60px;
}

.otto {
    background-color:#FFD830;
}



/* section6 */

.container-section6 {
    width: 1000px;
    height: 400px;
    margin: 100px auto;
    
}

.row-section6{
    height: calc(100%/4);
    width: auto;
    border-bottom: 2px solid black;
    
}


/* footer */

.container-footer {
    height: 500px;
    background-color: black;
    padding: 40px
    
}

#contain-foot {
    width: 1000px;
    height: 400px;
    margin: 10px auto;  
}

.col-foot {
    width: calc(100%/5);
    border: 1px solid red;
    float: left;
    margin-bottom: 150px;
    
}

hr {
    width: 100px;
    margin-bottom: 30px;
}


/* DEBUG */

/* .nav-head {
   
    background-color: green;
} */

/* .logo {
    height: 40px;
    width: 200px;
    background-color: blue;
} */

/* .list-left, .list-right{
    background-color: yellow;
}

.left, .right {
    background-color: white; 
} */


/* .jumbotron{
    background-color: aqua;
} */


/* .container-jumbo {
    background-color: blanchedalmond;
}

.title {
    background-color: blueviolet;
}

.aside {
    background-color: azure;
} */



.container-section1 {
    background-color: grey;
}

.title-section1{
    background-color: beige;
}

/* .container-section3 {
    background-color: pink;
} */

/* .row-section3 {
    border: solid 4px white;
} */

/* .col-section3 {
   
    background-color: violet;
    border: solid 2px orange;

} */

/* .container-section4 {
    background-color: blue;
}

.text-section4 {
    background-color: aqua;
} */

/* .container-section5{
    background-color: aquamarine;
}

.col-section5 {
    background-color: violet;
    border: solid 1px orange;
}

.mini-section {
    /* background-color: beige; */
    /* border: solid 1px red;
} */ 

.container-section6 {
    background-color: rgb(231, 167, 84);
}

.row-section6 {
    background-color: rgb(255, 217, 0);
}

#contain-foot {
    background-color: rgb(43, 132, 209);
}